body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #526760;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiFormLabel-root.Mui-focused {
  color: white !important;
}

.MuiFormLabel-root {
  border-color: white !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiOutlinedInput-root.Mui-disabled {
  color: white !important;
}
.css-ghsjzk-MuiInputBase-root-MuiInput-root:before {
  color: white !important;
  border-color: white !important;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}

.css-ghsjzk-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid grey !important;
}
